<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/comments.css">

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add a new review for <%= superhero.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/superheroes/<%= superhero._id %>/comments" method="POST">
                Please select a rating:
                <div class="star-rating">
                    <input type="radio" id="5-stars" name="comment[rating]" value="5" required/>
                    <label for="5-stars" class="star">&#9733;</label>
                    <input type="radio" id="4-stars" name="comment[rating]" value="4" required/>
                    <label for="4-stars" class="star">&#9733;</label>
                    <input type="radio" id="3-stars" name="comment[rating]" value="3" required/>
                    <label for="3-stars" class="star">&#9733;</label>
                    <input type="radio" id="2-stars" name="comment[rating]" value="2" required/>
                    <label for="2-stars" class="star">&#9733;</label>
                    <input type="radio" id="1-star" name="comment[rating]" value="1" required/>
                    <label for="1-star" class="star">&#9733;</label>
                </div>
                Please give a brief review of your experience:
                <div class="form-group">
                    <textarea id="textarea-input" name="comment[text]" class="form-control" placeholder="Write your review" required ></textarea>
                </div>
                <p id="required-fields">*all fields are required</p>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/superheroes">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>

