.lead {
    text-align: center;
}

#map {
    margin-top: 20px;
    width: 100%; 
    height: 210px;
}

.notfound {
    background-color: #93bcff;
    text-align: center;
    padding: 30% 5% 0 5%;
    font-size: 1.2em;
}

.notfound p {
    margin: 0;
}

/*Stars formatting*/
.star-rated {
  display: inline-flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
  color: #ccc;
}
.star-rated p {
  margin: 0;
}
/* Highlight stars */
.r1 .os-1, .r2 .os-1, .r2 .os-2, .r3 .os-1, .r3 .os-2, .r3 .os-3, .r4 .os-1, .r4 .os-2, .r4 .os-3, .r4 .os-4, .r5 {
  color: #f90;
}